{
  "parser": "babel-eslint",
  "extends": ["plugin:prettier/recommended", "@xinghunm/eslint-config"],
  "rules": {
    "no-underscore-dangle": "off",
    "camelcase": "off",
    "func-names": "off"
  }
}
